torch>=2.0.1
torchvision>=0.15.2
torchaudio>=0.8.1
numpy
scipy
Pillow
matplotlib
scikit-image
librosa
timm
einops

ipykernel
ipywidgets
pytorch-lightning
torchmetrics

gradio
sentencepiece
accelerate

nvidia-pytriton
validators
opencv-python
pycocotools
onnxruntime
onnx
open_clip_torch
transformers
ultralytics

git+https://github.com/facebookresearch/segment-anything.git
opencv-python-headless

